.header-d{
    color:#FFFFFF;
    background-image: url(../image/背景デザイン1.png);
    padding: 20px;
    width:100%;
    font-family:cursive;
}

.header-d-battle{
    color:#FFFFFF;
    background-image: url(../image/背景デザイン1.png);
    padding-top: 10px;
    width:100%;
    font-family:cursive;
}

.header-d-judgement{
    color:#FFFFFF;
    background-image: url(../image/背景デザイン1.png);
    padding-top: 10px;
    width:100%;
    font-family:cursive;
}

.mid-wrapper{
    max-width: 100%;
    min-height: 100vh;
    margin:0px auto;
    background-color:rgb(249, 142, 12);
}

.mid-container{
    display: flex;
    min-height: 100vh;
    width: 75%;
    margin:0px auto;
    flex-direction: column;
    align-items: start;
    background-color:#FFFFFF;
}

.mid-atag{
    font-size:30px;
    color:orange;
}

.mid-atag-container{
    display: flex;
    flex-direction: column;
}

.mid-atag:hover{
    color:red;
}

.mid-content{
    margin: 0px;
}

.mid-text{
    text-align:center;
    width: 100%;
}

.header-jump{
    text-align:right;
    padding-right:2em;
}

.subInput{
    width: 100%;
    height: 100%;
    border: solid 2px #808080;
}

.cont{
    border:solid;
    border-color:#808080;
    border-width:2px 1px 2px 1px;
    min-height: 100px; 
    overflow-wrap: break-word;
}

.login{
    flex-direction: row;
    border: solid 3px #000000;
}

.loginCont{
    display: flex;
    flex-direction: column;
    flex-basis:50%;
    align-items: center;
    justify-content: center;
    margin: auto;
    height: 500px;
}

.battletable{
    display: flex;
    flex-direction: column;
}

.battletable-rese-button{
    width: 50%;
}

.battlebutton-red{
    color:red;
}

.battlebutton-blue{
    color:blue;
}

.judgetable-wrap{
    display: flex;
    flex-direction: column;
}

.judgetable-content{
    display: flex;
    flex-direction: row;
}

.judgetable-word-red{
    color:red;
}

.judgetable-word-blue{
    color:blue;
}

.F{
    display:none;
}
